<footer class="footer py-3 bg-dark">
  <div class="container">
    <span class="text-muted">Created By <a href="https://github.com/ichala" target="_blank">@Ali Jendoubi</a> and <a href="https://github.com/aimalamiri" target="_blank">@Aimal Amiri
</a></span>
  </div>
</footer>