<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<table class="table table-bordered table-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td><button type="button" class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i> Edit</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td><button type="button" class="btn btn-sm btn-success"><i class="fa-solid fa-floppy-disk"></i> Save</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird </td>
      <td><button type="button" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i> Delete</button></td>
    </tr>
  </tbody>
</table>
